html {
    font-size: 75%; /* font-size 1em = 10px on default browser settings */
  }
  
  body {
      padding-top: 150px;
      font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
      background-color: black;
      margin: 10px;
      padding: 20px;
  }
  
  .column {
    float: left;
    width: 50%;
  }

  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
  }
  
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
  }
  
  
  h1 {
      font-weight: 400;
      margin-top: 4rem;
      margin-bottom: 1.5rem;
      font-size: 3.2rem;
      line-height: 1;
      color: white;
  }
  
  h2 {
      padding-top: 30px;
  }
  
  p {
      font-size: 1.4rem;
      line-height: 2rem;
      color: white;
  }

  li {
      color: white;
  }
  
  .demo_font_arial{
      font-family: arial, sans-serif;
  }
  
  img {
      max-width: 100%;
      height: auto;
      padding-top: 50px;
      padding-bottom: 50px;
  }

  img.align-self {
    align-self: center;
  }

  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
  }